body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: rgb(29, 0, 249);
    padding: 10px 20px;
}

#logo {
    color: white;
}

#ancoras-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#ancoras-nav a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

main {
    margin: 0 1rem;
}

main h2 {
    text-align: center;
}

#tela-produtos {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}

/* animação da grid */
#produtos-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    transition: transform .4s ease, opacity .4s ease;
}

.produtos-down {
    transform: translateY(60px);
}

@media(max-width: 1285px) {
    #produtos-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    #modal{
        width: calc(100% - 30px);
    }
}

@media(max-width: 1060px) {
    #produtos-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    #modal{
        width: calc(100% - 20px);
    }
}

@media(max-width: 850px) {
    #produtos-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    #modal{
        width: calc(100% - 10px);
    }
}

@media(max-width: 620px) {
    #produtos-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .produto {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .conteudo-produto {
        text-align: left;
    }
}

.produto {
    text-align: center;
    border: solid 1px rgb(29, 0, 249);
    border-radius: 10px;
    padding: 10px;
}

button {
    border: none;
    background-color: rgb(29, 0, 249);
    color: white;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
}

.produto img {
    width: 200px;
    border-radius: 10px;
}

/* modal deslizando para baixo */
.modal {
    display: none;
    opacity: 0;
    transform: translateY(-50px);
    transition: transform .4s ease, opacity .4s ease;
    width: calc(100% - 40px);
}

.modal-active {
    display: flex;
    flex-direction: column;
    border: solid 1px rgb(29, 0, 249);
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    height: 70vh;
    margin: 0 auto;
    opacity: 1;
    transform: translateY(0);
    position: relative;
}

#btn-fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    font-size: 2rem;
    border: none;
    color: rgb(29, 0, 249);
    cursor: pointer;
}
